/.books.db
/.idea/shelf/Uncommitted_changes_before_Checkout_at_24-Mar-23_1_48_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_24-Mar-23_1_48_PM_[Changes]1/shelved.patch
/.idea/*.*
